# Use public servers from the pool.chrony.org project.
# Please consider joining the pool (http://www.pool.chrony.org/join.html).
{% for host in groups['key_aws1422'] %}
server {{ hostvars[host].ansible_host }} iburst xleave
{% endfor %}

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
# if its offset is larger than 1 second.
makestep 1.0 3

# Specify file containing keys for chrony authentication.
keyfile /etc/chrony.keys

# Specify directory for log files.
logdir /var/log/chrony

# Select which information is logged.
#log measurements statistics tracking